@import url("https://fonts.googleapis.com/css?family=Teko:700");

body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
  background-color: #DDDDEA;
}

.teko-font-family {
  font-family: "Teko", sans-serif;
}

#textAnimated {
  display: none;
}

#app {
  font-size: 10rem;
  animation: elastic 1.5s ease-in-out infinite;
  cursor: default;
}

.text-item {
  @extend .teko-font-family;
  display: inline-flex;
  mix-blend-mode: multiply;
  
  > div:hover {
    //transform: scale(2) !important;
    //transition: transform .2s ease-in-out;
  }
}

.red {
  color: #BD0419;
}

.yellow {
  color: #D28910;
}

.green {
  color: #018671;
}

.blue {
  color: #0689BF;
}

.purple {
	color: rebeccapurple;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

@keyframes elastic {
  0%, 100% {
    letter-spacing: -1.5rem;
  } 50% {
      letter-spacing: -0.5rem;
  }
}